@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------- */

/* External imports */
@import "~@flaticon/flaticon-uicons/css/all/all";
@import 'remixicon/fonts/remixicon.css';

/* -------------------------- */
:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* -------------------------- */

/* Utility based classes (NOT-GLOBAL) */
.custom-vertical-center {
    @apply flex items-center;
}

.no-cancel-button::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

@layer components {

    /* Toolbar specific */
    .toolbar-items>i,
    .toolbar-items>div>i {
        @apply hover:bg-[#F5F5F5];
    }
}